<configuration>
    <if condition='isDefined("PLUSF_LOG_FILE")'>
        <then>
            <appender name="FILE" class="ch.qos.logback.core.FileAppender">
                <append>false</append>
                <file>${PLUSF_LOG_FILE}</file>
                <!-- encoders are assigned the type
                     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>

            <root level="info">
                <appender-ref ref="FILE" />
            </root>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <!-- encoders are assigned the type
                     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
            <root level="info">
                <appender-ref ref="STDOUT" />
            </root>
        </else>
    </if>
</configuration>