{{ partial "header.html" . }}

<div class="heading">10 GET PLUS-F</div>

<div class="blurb">
  Pre-built installers are available for Windows and Debian Linux, and there's a
  universal package that can be installed anywhere that runs Java. It's ready to
  run on the Raspberry Pi too ...
</div>

<div class="heading">20 JOIN FRIENDS</div>

<div class="blurb">
  Share the fun with a friend. You run the Emulator, your friend runs the Guest,
  connect them together and get ready to go ...
</div>

<div class="heading">30 PLAY GAMES</div>

<div class="blurb">
  Enjoy classic games from the heyday of 8-bit computing ...
</div>

<div class="heading">40 GO TO 30</div>

<div class="blurb">
  ... the fun never stops!
</div>

{{ partial "footer.html" . }}
