{{ partial "header.html" . }}

<h1>Here's how it works ...</h1>

<table>
  <tr>
    <td><img class="zx-header" src="10-get.png"/></td>
    <td>Pre-built installers are available for Windows and Debian
      Linux, and there's a universal package that can be installed anywhere that
      runs Java. It's ready to run on the Raspberry Pi too ...</td>
  </tr>
  <tr>
    <td><img src="20-load.png"/></td>
    <td>Enjoy classic games from the heyday of 8-bit computing ...</td>
  </tr>
  <tr>
    <td><img src="30-join.png"/></td>
    <td>Share the fun with a friend. You run the Emulator, your friend
    runs the Guest, connect them together and get ready to go ...</td>
  </tr>
  <tr>
    <td><img src="40-goto.png"></td>
    <td>The fun never stops!</td>
  </tr>
</table>
{{ partial "footer.html" . }}
