{{ partial "header.html" . }}

<p>Plus-F lets you play the classic games of the ZX Spectrum and experience two-player gameplay with friends over a network.</p>

<h1>How it Works</h1>

<div class="box-container">
    <a href="/emulator">
        <div class="box" style="background: red">
            <p>1<p>
            <p>You run the Emulator</p>
        </div>
    </a>
    <a href="/guest">
        <div class="box" style="background: magenta">
            <p>2<p>
            <p>Your friend runs the Guest</p>
        </div>
    </a>
    <a href="/connect">
        <div class="box" style="background: green">
            <p>3<p>
            <p>You connect</p>
        </div>
    </a>
    <a href="/games">
        <div class="box" style="background: cyan">
            <p>4<p>
            <p>Enjoy classic games!</p>
        </div>
    </a>
</div>

{{ partial "footer.html" . }}